html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', serif;
}

#under-construction-banner {
    position: fixed;
    top: 16%;
    left: -38%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
    background-color: rgba(244, 179, 66, 0.75);
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.text-med {
    font-size: 25px;
}

.text-small {
    font-size: 15px;
}
#intro-panel-container {
    background-image: url("../images/bg.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro-panel-container h1 {
    width: 100%;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.5);
    color: #fff;
    font-size: 40pt;
}

#projects {
    text-align: center;
    min-height: 400px;
}

.section-header {
    margin-top: 0;
    padding-top: 40px;
}

.width-16th {
    width: 6.25%;
}

.coming-soon {
    font-size: 25px;
    padding-top: 25px;
}

#accounts {
    text-align: center;
    background-color: #eee;
    min-height: 400px;
}

#account-links {
    padding-top: 60px;
    padding-bottom: 60px;
}

#accounts a {
    padding: 25px;
}

.translate-up-50px {
    -ms-transform: translate(0px, -50px); /* IE 9 */
    -webkit-transform: translate(0px, -50px); /* Safari */
    transform: translate(0px, -50px);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    font-size: small;
    border-top: 1px solid #aaa;

}
